.Board{
  margin: auto;
  border: 5px solid rgb(144, 196, 255);
}

.row{
  display: flex;
}

.row .column{

  
  padding: 2rem;
}

@keyframes snake-anim{
  0%{
    border-radius: 50%;
  }
  100%{
    border-radius: 15%;
    background-color: #42b883;
  }
}

.row .active{
  background-color: #347474;
  z-index: 2;
  animation-name: snake-anim;
  animation-duration: .3s;
  animation-fill-mode: forwards;

}

@keyframes apple-anim{
  0%{
    border-radius: 10%;
    box-shadow: 5px 5px #c51350;
  }
  100%{
    border-radius: 50%;
    
  }
}
.row .apple{
  background-color: #eb2632;
  z-index: -1;
  border-radius: 50%;
  animation-name: apple-anim;
  animation-duration: .5s;
  animation-fill-mode: forwards;

}
.score{
  font-size: 2rem;
  text-align: center;
  background-color: #35495e;
  font-weight: bold;
  color: white;
}
.sliderange{
  width: 100%;
  text-align: center;
}
.sliderange input{
  width: 100%;
}

@media screen and (max-width:1920px) {
  .row .column{
    padding: 1.8rem;
  }
}

@media screen and (max-width:1280px) {
  .row .column{
    padding: 1.2rem;
  }
}

@media screen and (max-width:550px) {
  .row .column{
    padding: .7rem;
  }
  .score{
    font-size: 1.5rem;
  }
}